alembic
Click
configparser
dominate
Flask
Flask-Bootstrap
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
Flask-RESTX
itsdangerous
Jinja2
# Requires libvirt, python3-dev, build-essential installed
libvirt-python
Mako
MarkupSafe
psycopg2-binary
pylint-flask
python-dateutil
python-editor
six
SQLAlchemy
visitor
Werkzeug
WTForms
pylxd
paramiko
pyyaml
passlib
